apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: zipkin-statefulset
spec:
  serviceName: zipkin-service
  replicas: 1
  selector:
    matchLabels:
      app: zipkin
  template:
    metadata:
      labels:
        app: zipkin
    spec:
      containers:
        - name: zipkin-container
          image: openzipkin/zipkin:3.4
          ports:
            - containerPort: 9200
          env:
            - name: STORAGE_TYPE
              value: "elasticsearch"
            - name: ES_HOSTS
              value: "elasticsearch-service:9200"
---
apiVersion: v1
kind: Service
metadata:
  name: zipkin-service
  labels:
    app: zipkin
spec:
  type: NodePort
  selector:
    app: zipkin
  ports:
    - protocol: TCP
      port: 9200
      targetPort: 9200
      name: web